.mneu_show {
  transform: translate3d(898px, 54px, 0px) !important;
}
.custom-card {
  max-width: 90%;
  margin: 10px auto;
}
.custom-header-image {
  background-size: cover;
}
.header_card_parent {
  background: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  margin: 0px;
  width: 100%;
}
.custom_border {
  margin-right: 10px;
  border-right: 1px solid #9e9e9e;
  padding-right: 15px;
}
.custom_mat_card_action {
  width: 320px;
  margin-left: 80px;
  font-size: 14px;
}
.reply_text {
  background: #dadada;
  padding: 10px 13px;
  border-radius: 5px;
  color: #504f4f;
  font-size: 14px;
}
.main_text {
  padding: 5px 5px;
}
.fade_color {
  color: #848484;
}
.avtar_mar {
  margin-top: 5px;
  margin-left: 10px;
}
.moreOption {
  cursor: pointer;
}

